@use '../utils';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: #{utils.rem(30)};
}

.header__logo {
  width: #{utils.rem(46)};
}

.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: #{utils.rem(40)};
}

.header__link {
  font-size: var(--text-xl);
  line-height: 1.3;
}

.header__link:hover,
.header__link:focus {
  color: hsl(var(--color-softred));
}

@media (width >= #{utils.em(1110)}) {
  .header {
    padding-block: #{utils.rem(90)} #{utils.rem(56)};
  }

  .header__logo {
    width: #{utils.rem(64)};
  }

  .header__links {
    flex-direction: row;
    gap: #{utils.rem(24)};
  }

  .header__link {
    font-size: var(--text-base);
    color: hsl(var(--color-darkgrayishblue));
  }
}
