.bg-softorange {
  background-color: hsl(var(--color-softorange));
}

.bg-softred {
  background-color: hsl(var(--color-softred));
}

.bg-white {
  background-color: hsl(var(--color-white));
}

.bg-offwhite {
  background-color: hsl(var(--color-offwhite));
}

.bg-grayishblue {
  background-color: hsl(var(--color-grayishblue));
}

.bg-darkgrayishblue {
  background-color: hsl(var(--color-darkgrayishblue));
}

.bg-darkblue {
  background-color: hsl(var(--color-darkblue));
}
