.text-softred {
  color: hsl(var(--color-softred));
}

.text-softorange {
  color: hsl(var(--color-softorange));
}

.text-white {
  color: hsl(var(--color-white));
}

.text-offwhite {
  color: hsl(var(--color-offwhite));
}

.text-grayishblue {
  color: hsl(var(--color-grayishblue));
}

.text-darkgrayishblue {
  color: hsl(var(--color-darkgrayishblue));
}

.text-darkblue {
  color: hsl(var(--color-darkblue));
}
